.contactContainer {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.contactOptions {
    display: flex;
    align-items: center;
}

.contactOption {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 2.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contactOption:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contactOptionIcon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contactOption h5 {
    color: var(--color-light);
}

.sendMessage {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    color: var(--color-primary);
    transition: var(--transition);
}



.btnPrimary {
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    width: max-content;
    display: inline-block;
    cursor: pointer;
}

.btnPrimary:hover {
    background: var(--color-white);
    color: var(--color-bg);
}

/* ================= FORM ================== */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 600px;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/* ================ MEDIA QUERIES (max 1024) ================= */
@media screen and (max-width: 1024px) {
    .contactContainer {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 70%;
    }

    .contactOptions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* ================ MEDIA QUERIES (max 768) ================= */
@media screen and (max-width: 768px) {


    #contact {
        margin-top: 1rem;
    }
}

/* ================ MEDIA QUERIES (max 468) ================= */
@media screen and (max-width: 468px) {}