@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #080706;
  --color-bg-variant: #282828;
  --color-primary: #ffdea0;
  --color-primary-variant: rgb(201 165 36 / 40%);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.74);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  margin: auto;
}

/* ============== GENEARL STYLES ============== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
  color: var(--color-white);
}

h2 {
  background: rgba(0, 0, 0, 0.8);
  padding: 1em 0;
  text-align: center;
  overflow: hidden;
  font-size: 2rem;
  color: var(--color-primary);
}

h2:before,
h2:after {
  content: '';
  width: 3em;
  border-bottom: rgba(255, 255, 255, 0.3) solid;
  display: inline-block;
  vertical-align: middle;
}

h2:before {
  margin-left: -100%;
  margin-right: 3em
}

h2:after {
  margin-right: -100%;
  margin-left: 3em;
}


h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

h5 {
  font-size: 1.2rem;
}

section {
  margin-top: 1rem;
}



.text-light {
  color: var(--color-light);
  font-weight: 400;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

img.anna {
  display: block;
  width: auto;
  height: 14.5rem;
  object-fit: cover;

}

nav {
  background: rgb(24 24 24 / 70%);
  z-index: 2;
  position: fixed;
  right: 2%;
  display: flex;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  top: 15px;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}


/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }

  nav {
    display: flex;
    top: 10px;
    width: 100%;
    justify-content: center;
  }


  .experience__container {
    padding: 20px;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {

  h1 {
    font-size: 2rem;
  }

  .container {
    width: var(--container-width-sm);
  }

  nav {
    background: rgb(51 51 51 / 70%);
  }

  section>h2 {
    margin-bottom: 2rem;
  }

}