nav {
    background: rgb(66 66 66 / 70%);
    /* width: max-content; */
    z-index: 2;
    position: fixed;
    right: 12%;
    /* transform: translateX(-20%); */
    /* display: grid; */
    border-radius: 3rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
    nav {
        right: 22%;
    }


}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
    nav {
        right: -5%;

    }
}